<!DOCTYPE html>
<html lang="fr" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Liste - OpenList</title>

    <link rel="stylesheet" href="/pico.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/icon.css">
    
    <script src="/api/api.js"></script>
    <script src="/assets/js/modal.js"></script>
    <script src="/append/ViewList.js"></script>
    <script src="/assets/js/theme.js"></script>

    <script>
        onload = () => {
            const listID = window.location.pathname.split("/").pop();
            appendToItemList('item-container', listID);
        }

        const HandelAddItemToList = async (itemName, itemQuantity, listID) => {
            await newItem(itemName, itemQuantity, listID);
            appendToItemList('item-container', listID);
        }

        const HandelDeleteList = (listID) => {
            OpenConfirmModal('Supprimer cette liste ?', 'Tous les articles de cette liste seront egalement supprimes.', async () => {
                await DeleteList(listID);
                window.location.href = "/";
            });
        }
    </script>
</head>
<body>
    <main class="container">
        {{ template "header" . }}
        
         <div id="item-container" class="list">
            <p aria-busy="true">Chargement...</p>
        </div>

        <article>
            <h3>Ajouter un nouvel Article</h3>
            <form onsubmit="event.preventDefault(); HandelAddItemToList(this.itemName.value, this.itemQuantity.value, window.location.pathname.split('/').pop())">
                <input type="text" name="itemName" placeholder="Banane" required>
                <label>
                    Quantité :
                    <input type="range" name="itemQuantity" value="10" oninput="document.getElementById('quantity-value').textContent = this.value" />
                    <span id="quantity-value">10</span>
                </label>

                <button type="submit">Ajouter</button>
            </form>
            <button onclick="HandelDeleteList(window.location.pathname.split('/').pop())">Supprimer la liste</button>

        </article>

        {{ template "footer" . }}
    </main>

    
</body>
</html>