<link rel="stylesheet" href="/pico.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/icon.css">

{{ define "header" }}
<nav>
    <ul>
        <li><h1><a href="/">OpenList</a></h1></li>
        {{ if .PageName }}
            <h2><span style="opacity: 0.5; margin: 0 10px;"> > </span>{{ .PageName }}</h2>
        {{ end }}
    </ul>
    <ul>
        <li>
            <span onclick="ChangeTheme()" class="icon icon-brightness-up" style="width: 30px; height: 30px; color: var(--pico-text-color)" id="theme-toggle"></span> 
        </li>
        <li>
            <a href="/settings">
                <span class="icon icon-settings" style="width: 30px; height: 30px;"></span> 
            </a>
        </li>
    </ul>
</nav>
{{ end }}

{{ define "footer" }}
<footer class="container-fluid" style="margin-top: 2rem; border-top: 1px solid var(--pico-muted-border-color); padding-top: 1rem;">
    <div class="grid">
        <div>
            <small>
                <strong>OpenList</strong> • 
                <span data-tooltip="Langage Go & SQLite">Ultra-light</span>
            </small>
        </div>

        <div style="text-align: center;">
            <small>
                <ins>v1.0.0</ins> 
                <span style="color: var(--pico-ins-color); margin-left: 5px;">●</span> 
                <span style="opacity: 0.6;">Stable</span>
            </small>
        </div>

        <div style="text-align: right;">
            <small>
                <span>Propulsé par <strong>Go</strong> & <strong>Pico.css</strong></span>
                <span>Créé par <a href="https://jonathangleyze.fr/" target="_blank"><strong>Jonathan Gleyze</strong></a></span>
            </small>
        </div>
    </div>
</footer>
{{ end }}