<!DOCTYPE html>
<html lang="fr" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paramètres - OpenList</title>
    <link rel="stylesheet" href="/pico.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/icon.css">
    <script src="/assets/js/theme.js"></script>

    <script>
        const GenerateToken = async () => {
            const response = await fetch('/api/generate-token', { method: 'POST' });
            const data = await response.json();
            if (response.ok) {
                alert(`Token generated: ${data.token}`);
            } else {
                alert(`Error: ${data.error}`);
            }
        }
    </script>
</head>
<body>
    <main class="container">
        {{ template "header" (dict "PageName" "Mon compte") }}

        <section>
           

        <article>
            <hgroup>
                <h2>Votre compte</h2>
                <p>Gérez les paramètres de votre compte</p>
            </hgroup>
            <div role="group" style="display: flex; flex-direction: column; gap: 0.5rem;">
                <button type="button" onclick="GenerateToken()">
                    Demander un changement de mot de passe
                </button>
                <button type="button" class="secondary outline" onclick="DeleteAccount()">
                    Supprimer votre compte
                </button>
            </div>
        </article>

            
           <article style="background-color: var(--pico-tooltip-color);">
                <hgroup >
                    <h2>Liste des comptes (admin)</h2>
                    <p>Gérez les comptes de votre application</p>
                </hgroup>

                <button onclick="GenerateToken()">Générer un token</button>
            </article>
            

           

           
        </section>

        {{ template "footer" . }}
    </main>

    
</body>
</html>