<!doctype html>
<html lang="fr" data-theme="dark">
	<body>
		<main class="container">
			{{ template "header" (dict "PageName" "Nouvelle Liste" "PageID" .PageID) }}

			<form id="add-list-form">
				<fieldset>
					<label>
						Titre de la liste
						<input
							type="text"
							name="title"
							placeholder="Courses de la semaine"
							required
						/>
					</label>
				</fieldset>

				<input type="submit" value="Créer la liste" />
			</form>

			{{ template "footer" . }}
		</main>
	</body>
</html>
